<!-- 这个覆盖顶栏 -->
<div class="letter-h"></div>

<!-- 对页面进行验证 -->

<% if current_user&& (current_user.name == "Ocean-藏心" ||current_user.name == "丫丫") %>
<div class="post-list-wrapper ">
  <div class="container clearfix">
  <div class="lc-wrapper">
   <a href="/letter/1" class="letter-cover">
    <ul class="zipcode-wrapper">
      <li class="zipcode">1</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
    </ul>
    
<img src="/images/stamp-8.jpg" alt="" class="lc-img">      
    
  <div class="footer-container">
    <div class="lc-header clearfix">
        丫丫收
    </div>
    <div class="lc-footer clearfix">
        2015.09.29
    </div>
  </div>
  </a>  
  </div>
  
  <div class="lc-wrapper">
   <a href="/letter/2" class="letter-cover">
    <ul class="zipcode-wrapper">
      <li class="zipcode">1</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
    </ul>
    
<img src="/images/stamp-5.jpg" alt="" class="lc-img">      
    
  <div class="footer-container">
    <div class="lc-header clearfix">
        藏心收
    </div>
    <div class="lc-footer clearfix">
        2015.10.21
    </div>
  </div>
  </a>  
  </div>
    
     <div class="lc-wrapper">
   <a href="/letter/3" class="letter-cover">
    <ul class="zipcode-wrapper">
      <li class="zipcode">1</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
    </ul>
    
<img src="/images/stamp-6.jpg" alt="" class="lc-img">      
    
  <div class="footer-container">
    <div class="lc-header clearfix">
        丫丫收
    </div>
    <div class="lc-footer clearfix">
        2015.10.24
    </div>
  </div>
  </a>  
  </div>
    <div class="lc-wrapper">
   <a href="/letter/4" class="letter-cover">
    <ul class="zipcode-wrapper">
      <li class="zipcode">1</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
    </ul>
    
<img src="/images/stamp-7.jpg" alt="" class="lc-img">      
    
  <div class="footer-container">
    <div class="lc-header clearfix">
        藏心
    </div>
    <div class="lc-footer clearfix">
        2015.12.10
    </div>
  </div>
  </a>  
  </div>

    <div class="lc-wrapper">
   <a href="/letter/5" class="letter-cover">
    <ul class="zipcode-wrapper">
      <li class="zipcode">1</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
    </ul>
    
<img src="/images/stamp-8.jpg" alt="" class="lc-img">      
    
  <div class="footer-container">
    <div class="lc-header clearfix">
        藏心收
    </div>
    <div class="lc-footer clearfix">
        ----.--.--
    </div>
  </div>
  </a>  
  </div>
    <div class="lc-wrapper">
   <a href="/letter/6" class="letter-cover">
    <ul class="zipcode-wrapper">
      <li class="zipcode">1</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
    </ul>
    
<img src="/images/stamp-8.jpg" alt="" class="lc-img">      
    
  <div class="footer-container">
    <div class="lc-header clearfix">
        丫丫收
    </div>
    <div class="lc-footer clearfix">
        2016.01.15
    </div>
  </div>
  </a>  
  </div>
    <div class="lc-wrapper">
   <a href="/letter/7" class="letter-cover">
    <ul class="zipcode-wrapper">
      <li class="zipcode">1</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
      <li class="zipcode">0</li>
    </ul>
    
<img src="/images/stamp-12.jpg" alt="" class="lc-img">      
    
  <div class="footer-container">
    <div class="lc-header clearfix">
        藏心收
    </div>
    <div class="lc-footer clearfix">
        2016.02.12
    </div>
  </div>
  </a>  
  </div>
  
  </div>
</div>
<% end %>

