<div class="toolbar-bg"></div>

<div class="write-letter-bt">
<% if current_user&& (current_user.name == "Ocean-藏心") %>
	<%= link_to "写信", "/letters/new"%>
<% end %>	
</div>

<div class="letter-list-container  clearfix">
  <%= render partial: 'letter_list', locals: { letters: @letters } %>
</div>