<div class=" lt-cotainer">
	
<div class=" lt-font lt-wrapper ">
<h2 class="lt-name">
	王方:
</h2>

<p>哈哈，首先，很高兴收到你的来信哇，毕业了，还能收到如此纯朴的信，确实让我高兴了一会儿。出于礼貌，我应该也回书面信的，不过确实在这边难买到挂号信封，所以，sorry啦，望见谅！</p>

<p>嘿嘿，你写信的方式很特别啊，纯朴的文字，纯朴的感情。我常常觉得，在这样的年代，还能用书信交流，是很难得的。大学我也跟别人写过一些信，感觉挺好的。也许文字更真挚吧。</p>

<p>说实在的，看了你的信之后，我才知道你是转专业过来的。很多事情我确实不太了解啊。不过，觉得你是一个挺上进，而且有想法，又执行力很强，有毅力的人。有自己的个性，好好坚持。今年跟你接触得多一点，怎么说，作为朋友相处起来也挺轻松的，也挺受益的。</p>

<p>本想多说几句，但是真抱歉，真的有所不适，只能早点歇着啦。下次再多写点吧。希望你在北京好好的咯。然后工作之余，多一些开心的事。还有关于你为我做的那个网站，我也挺感谢的，虽然暂时没太多时间去关注。再次，谢谢你啊，以后有时间我会常关注的。</p>

<p>愿安好！</p>

<p>2015年10月21日             	黎游
                                                                               2015年10月21日</p>


</div>
</div>

