<div class=" lt-cotainer">
	
<div class=" lt-font lt-wrapper ">
<h2 class="lt-name">
	王方:
</h2>

<pre><code>嗨~回信有些慢,昨天中午去二食堂那边取信,结果中午又忙别的事去了
都没看完.晚上回来,本打算写个回信,你知道,却找资料去了.真不好意思.

最近是有点忙,太忙~只有15天就考试了.这是什么感觉,没什么感觉,
就感觉自己都没做好,什么事都有点急.

看过你的信,还是一如既往的质朴.当然也有一些收益.
未被魅族录用,是否感觉大学还是有那么一点遗憾.不过,
生活总有失有得,心态放好点,毕竟你在别的方面还是挺不错的.
那段青春文字,一看确实像是在哪篇文章中摘抄的,
不过你能背下来,说明它对你有比较大的影响.
平时我也喜欢摘抄一些好的文字,偶尔看看.也是一种享受.
北国的雪听起来的确很迷人,你却又自己的一番体会,不
错,我也曾幻想北方的雪,但最近雾霾挺严重的,似乎
又不那么的向往.确切地说,是没事件向往咯.

只有那么久了,走过来就好了.再聊吧,我洗洗睡了.
回信就这么多啦,祝安好~

12 10, 2015

</code></pre>


</div>
</div>

