
<% if current_user&& (current_user.name == "Ocean-藏心" ||current_user.name == "丫丫") %>
<div class=" lt-cotainer">
	
<div class=" lt-font lt-wrapper ">
<h2 class="lt-name">
	WangFang:
</h2>

<p>新年好!终于可以闲下来给你写回信啦。最近家里来客，走亲戚，没歇停。真想说，过个年还真有点累啊。一年又一年，年味是有些淡了。不过能在家里，跟亲人朋友一起过还是不错的。</p>

<p>你那封信还是没拿到，那天回家的时候去拿，但那个邮递员一直没接电话，之后也一直没回电话，真忧伤。不知道年后会不会送过来。</p>

<p>为啥本来可以聊很多的，现在细细说来又感觉不知道从何说起。最近都是忙家里的一些琐碎之事，自己的事都没去管。每每想起就有一阵罪恶感。过几天成绩就要出来的，有些紧张焦躁。想想，当真正决定做一件事时，会想到自己能不能承受一切可能的结果。可真正要去面对结果的时候，还是没那么坦然和平静。怎么办呢，只能静静地等咯。考试已经结束一个半月了，我当初想做的事似乎也没完成多少，主客观原因都有啦。希望一切能慢慢行动起来，坚持去做，多充电。年又快过完了，会莫名地有一种焦躁，尤其担心自己没考上该如何为自己打算。谢谢你告诉我，未来和梦想与我的考试无关，而在于我平时的所思所想所做。而且在你身上看到梦想与现实的神奇结合，对我也是一种激励啦，哈哈。过去总纠结于感情之事，胡思乱想，那是自己曾经过于感性和天真，现在所思所想更多的是自己的未来和打算。算思想上有了几分成熟吧。有时候觉得未来太多未知，身边又太多只是在我们眼中的幸福模范，那真正属于自己的幸福是什么呢？该不是挣很多很多钱？该是不是有房有车？该不是嫁个人人羡慕嫉妒恨的高富帅？这又怎么是我的所思所想！至少这些是其次啦。自己想要什么，自己追求的幸福是什么，总还是有些迷茫的。不如就先管好自己能做什么咯。</p>

<p>那天我姐夫把包裹拿回来，结果一家人都在策我。哈哈，幸好没别的东西。糕点有点甜，我外甥挺喜欢吃。筷子很有创意，刻了我的名字。手表现在没戴着，挺实用的。抹茶现在泡着喝，味道清新可口，挺喜欢这种抹茶香。看着你的日本之旅，感受着你所感受到的日本气息，日本的饮食，风土人情，异样文化，通过你的文字，都吸引着我呀，哈哈。还告诉我一些出国旅游的经验耶，嘿嘿。希望以后真的有机会能去走走。我之前出去玩一趟也喜欢写写经历感受，回味回味，不过多是一些流水账，嘿嘿。现在也很想出去走走，长长见识，把目光放远一些。</p>

<p>发现你这次的信写得不错，文笔流畅，内容丰富有趣，感情到位，哈哈。还有新做的发型也不错，偶尔改变一下自己，会让自己开心，让别人眼前一亮喔~嘿嘿。</p>

<p>看来回信还是不能拖久啦，刚收到信其实蛮多想说的，这会儿却不太记得。那就下次再分享吧。哈哈，新年快乐，祝你新的一年，事事顺意，开开心心，身体也要棒棒哒！</p>


</div>
</div>
<% end %>

