
<% if current_user&& (current_user.name == "Ocean-藏心" ||current_user.name == "丫丫") %>
<div class=" lt-cotainer">
	
<div class=" lt-font lt-wrapper ">
<h2 class="lt-name">
	游:
</h2>

<pre><code>写信其实一个比较费工夫的事情，
不但要有一个安静的环境，还要有一个安静的心情。
上封信是在火车上用电脑写的，似乎效果还不错。
万事开头难，第一封从想写到写完花了1，2个月的时间。
不过嘛，既然难的已经搞定了，这第二封写起来就要相对容易些了。

小时候上小学的时候，我是很讨厌写作文，写日记的。到后来上了高中，
对世界的认知增强了，对生活有了感悟，就自发的写起一些东西来了。
特别是高三的时候，那时候每天心里就是想着学习，
直到晚上放学前的一段时间，自己学累了，利用停下来歇口气的功夫，
写下自己对生活的理解，对人生的感悟，对未来的规划。以此来舒展自己的心灵。
渐渐地，发现总结生活这件事情是益处多多的，因此我这几年也都时不时的会作上一两篇文章，
来给自己心灵加加油。

看了你的回信，你说我信里的是纯朴的文字，纯朴的感情。这点我是同意的。
毕竟常常一个人，自己跟自己对话，是不用担心别人偷听的,自然是纯朴的。
你说作为朋友相处起来也挺轻松的，也挺受益的。这点我也是同意的。
因为，与人交往，我是有分寸的。你说你有这种感觉，看来我做的还行。
好了，回信点评到此为止。

言归正传，这两个星期以来，我觉得自己似乎有点积极向上了。抛却了一些杂念，
只想去做自己喜欢做的事情。我觉着很好，我希望这种感觉能一直持续下去，就像高考前的100天里。
...

哎呀,一晃已经过去了一个月啦,今天是2015年11月25日,我也没想到这封信到现在才有时间来写.

接着上面的说,从事实上来看,这过去的一个月,我倒是坚持的还行.
让我再回忆一下,这过去一个月干的事情.
最大的感觉就是自己在Android技术有了提高,对设计师的设计图没那么惧怕了.
另一方面是微博上了,这几天涨了100多个粉丝,现在达到了648,得益于一部android技术视频的翻译.
其实也没啥了不起的,粉丝百分之八十都是android程序员...
另外是在微博上得知,魅族科技要招人,于是让网友内推了.上周四接到魅族的电话面试,
正在公交车上的我居然旁若无人的跟他聊了30多分钟.唉,感觉技术是过关了.
但是...我说如果要过去工作,就得等到2月份...他问我在校期间成绩如何,我说成绩最差...
最后快结束的时候,我又附送了一句,我现在还没有毕业证...
到现在还没有通知,估计被刷了,唉,再一次与魅族无缘.
最近,额,就是今天,老大说给的工期快到了,最近要抓紧,不行周末加加班...
看来我接下来的一两个星期我要给自己开挂提速了.
哦,对了,之前好像还有某人的生日,我提前几天注意到了,就托学妹送了点东西,
没啥别的意思,算是一个点缀,希望能为其生活添加一点美好而已.

长大以后,人都会想,为什么而活.年轻的时候,自然踌躇满志,以为一切都是那么容易得到,
可时光易逝,人亦会变老,有什么能抵得过岁月的蹉跎,命运的摆弄.
每当念及此种问题的时候,我的脑子里总会回响起:
"年岁有加,并非垂老.理想丢弃,方堕暮年."这句话出自青春一文.
岁月要带走的东西,你给就是了.岁月带不走的东西,你得想办法把它留住.
</code></pre>

<p class="art-young">青春不是年华，而是心境；青春不是桃面、丹唇、柔膝，而是深沉的意志、恢宏的想像、炽热的感情；青春是生命的深泉涌流。 </p>
<p class="art-young"> 青春气贯长虹，勇锐盖过怯弱，进取压倒苟安。如此锐气，二十后生有之，六旬男子则更多见。年岁有加，并非垂老；理想丢弃， 方堕暮年。 </p>
<p class="art-young">岁月悠悠，衰微只及肌肤；热忱抛却，颓唐必致灵魂。忧烦、惶恐、丧失自信，定使心灵扭曲，意气如灰。 </p>
<p class="art-young">无论年届花甲，抑或二八芳龄，心中皆有生命之欢乐，奇迹之诱惑，孩童般天真久盛不衰。 </p>    
<p class="art-young">人的心灵应如浩淼翰海，只有不断接纳美好、希望、欢乐、勇气和力量的百川，才能青春永驻、风华长存。 </p>
<p class="art-young">一旦心海枯竭，锐气便被冰雪覆盖，玩世不恭、自暴自弃油然而生，即便年方二十，实已则垂垂老矣；</p> 

<pre><code>

这篇文章我在初中的时候,是我在报纸上看到的.高中的时候,我在讲台上背过.上了大学,
我也时长用它来滋润自己的心灵.也希望它能让你的心灵更清澈,更纯净,更有活力.

三国演义里面刘备做上门女婿的时候对孙权说过:南人驾船,北人乘马.意思南方人擅长开船,
北方人擅长骑马.侧面反映出了我国南北双方的差异.我在中原地带长大,大学在湖南呆了4年,
现在来到了北京,也算把南方北方都体验一遍了.这个冬天,最让我印象深刻的莫过于京城的雪景了.
冬天,这里的雪下的比较频繁.下的也大.再加上冬日里温度低,随处可见雪的踪迹.
那天早上,我刚出门,外面就是白茫茫的一片.真是忽闻一夜春风来,千树万树梨花开.
在我去公司的路上,走着走着,雪便下了起来,才几分钟时间,漫天遍都是飘雪啦.
风不大,雪打在脸上也不疼.雪花也不大,轻飘飘的,随风舞动.我忍不住要停下来把这美景拍下来.
但是又觉得,美景就在眼前,何不把握好这短暂的美好时光,去尽情的享受.
于是我就打消了拿手机的念头.但是我也并没有因此而驻足,
我只是在走的时候,不住向各个方向张望,似乎是想把自己给融入到这幅京城雪景的动画里.
若是停下来看雪,画在走,人却未动,是体会不到那种自然的美的.
很快地,我走到了公司楼下,我知道即便雪景再美,也无法留下我去工作的脚步.
因为我还在追逐梦想的路上.相较于梦想,美景不过是其点缀而已.
我能在沿途领略一二美景,我已经知足了.
美好的事物,来的快,去的也快.虽有些意犹未尽,但是就这样点到为止不也挺好.
就这样,我又多看了一眼雪,便进楼上班了.
</code></pre>




</div>
</div>
<% end %>
