<div class=" lt-cotainer">
	
<div class=" lt-font lt-wrapper ">
<h2 class="lt-name">
	游:
</h2>

<pre><code>工大一别,已经快三个月了。
好久没写过信了。
上次提笔是我刚上大一的时候，写给继续奋战在高四的小白。
我会鼓励她,给她一些tip，告诉她来到大学后自己的所思所想。
现在的我回想起那时的我，觉得那时的我挺值得骄傲的。
初入大学，我带着高考奋斗后的余热和对未来的憧憬跨入了工大的校门。
我带来的背包里，放了好多本高中时校门口附近地摊上的旧书。
犹记得里面有《围城》，《美学基本原理》，等等。
军训的时候，我抽空就看《美学基本原理》。
我想知道什么是美，怎么欣赏美。
不过可惜的是这本书没看完，
看过的内容也差不多忘了。
倒是给周围的同学留下了一副爱看书的模样。
军训过后，班里要竞选班长，我一副志在必得的样子上去了，
“我高中做过3年的班长，我一定可以带领好大家的。”
结果没选上。也罢，反正班长在高中也当够了。
当时上去竞选应该仅仅是气氛使然吧。
军训快结束的时候，那天晚上，在操场上，电气学院安排了一些学长来跟我们交流经验。
班助介绍了一个拿过国家奖学金的学长，我立马凑上前去。虚心的求教，问长问短。
“请问学长在大学学习的方法跟高中有区别吗？比方说物理，数学，就是多做题。”
“没区别。”
“请问学长大学里的老师怎么样?”
“有好有坏。”
。。。
我现在还记得这些问题，说明当时学长给我传授的经验，我用上了，虽然忘记用上什么了。
军训的日子里，我记得，有天下午，我走在操场中散步，不时的望望天空，突然间心血来潮，躺在了草地上。
用帽子遮住眼镜，四肢舒展，很惬意的放空自己。居然睡着了。与这事儿相类似的还有，
我有时会爬到楼顶，仰望天空，俯视大地，思考人生。株洲的云挺好，不时的飘来飘去，让人看着舒服。
刚上第一节大学英语课的时，老师很得意的请来她暑假带的三个学姐，来给我们做限时演讲。
就是英语竞赛的那种形式，先做演讲，然后观众提问，演讲者进行解答。
哎呀，我听了那三位学姐的口语后，暗自下定决心，未来的我也要那样不可。
后来我就早起爬房顶去读疯狂英语了。
李阳老师的Louder Strong Longer三字决，再加上不断的快速重复。
让我成功的打扰的周围居民的休息.
后来看了《英语语音》和去外国语学院听课后才发现，口语的好听不是靠磨嘴皮子，吼嗓子练出来的，
不过还好，李阳老师训练用的句子都挺好，而且他讲课的视频还穿插点成功学的东西，我也算受益良多。
英语虽好，非吾之最爱。一到周末，我就会到师专附近的网吧上网。我会看点名人演讲的视频，汲取先进思想。
搜索一大堆计算机专业的周边文章，比方说，要看什么书啦，书籍简介啦，计算机专业有啥知识点了，还有一些程序员的故事啦。
比方说，求伯君（金山），雷军，马化腾，丁磊（网易），王志东（新浪），史玉柱，张朝阳（搜狐），陈天桥，
等等这些国内90年代开始创业的互联网大佬的故事了。
如果有人想听，我会如数家珍般的把这些人的故事一一道出。
这些故事看多了吧，就开始联想自己了，当初专业是不是报错了。
虽说当初丁磊是通信工程，跟电气很近，但是他老去蹭计算机的课啊。
后来我就在打听转专业的事情，两个校区辛苦的跑了几趟，终于把专业给转了。得偿所愿，得偿所愿啦。
去了计通学院后，我插到了唐仕的寝室，每天晚上，他回来的挺晚，回来后还拿着书，躺在床上看。
后来我从他了解到学院有个实验室这事儿，当时知道后挺兴奋。觉得自己非进去不可。
在唐仕的寝室住了几天后，晓叶对我说外省的住公寓，我看公寓条件不错，就从唐仕寝室搬走了。
现在想想，那并不是一个好的决定。
住宿环境好了，校区也大了，专业气氛也有了，我就开始走下坡路了。。。
并没有上学期那么勤奋了。课逃得多了，独自一人，自制力也差了。
后来实验室举行比赛，A对3题可以进入实验室，我当时只对了2题，与我同去的硕哥A对了3题。
这件事让我的自信心也受到了打击。
不过这个学期的有两件事倒是挺值得给自己记一笔的。第一是演讲比赛赢了把吉他，第二是选上了班助。
现在总结大一，自己算是起了个大早，赶了个晚集。最最有价值的是找到了自己真正想要的东西。（其实大学四年最重要的也就是这个吧）

2015-09-29				王方

下面该谈点别的了，做好心理准备哦。
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
我现在躺在K183次列车7号车厢的21号上铺，时间是2015-09-29 23:43:30，目的地是南阳-我的家乡。
车轮滚滚，窗外雨声连连，空调里的凉风一阵一阵的打在我的脚底板上。
火车偶有换轨，我的身体就随车晃动。
如同雨声，我的思绪万千，却不知从何说起。
忽闻下铺的鼾声，断断续续，时强时弱，让我的思绪稍加停顿。
合上电脑，整理思绪中。。。
再次打开，车也暂停了。
我是不是太没用了，连一句想你了都不敢说。
对不起，我想我应该是想你了。
</code></pre>

	
</div>

</div>

