<div class=" lt-cotainer">
	
<div class=" lt-font lt-wrapper ">
<h2 class="lt-name">
	游:
</h2>

<pre><code>感谢来信,第一次收到友人的来信哟,而且还是你的.
上班的时候没看,下班的路上,边走边看,看完了.
后来也偷偷看了几次,终于体会到纸质信件的好处了,
那就是可以捧在手上,反复阅读.
我也没想到,你还挺喜欢这种古老的通信方式哒.
我呢,以前写信,也是为了鼓励当时奋战在高四的小白.
也没给其他人写过.
后来,偶然得知你居然还会去收信,我就觉得,诶,我这写信的技能又能排上用场了.
你来信里面把书信的优点啦都说的很全了,我就不多说了.我很开心,能成为你的笔友.

谈点什么呢,当然,首先恭喜你考完了试,不用去过那种苦行僧的日子了.
然后呢,我要提醒你,你的未来跟考试通过与否无关,跟上学还是上班也无关,
而是跟你平时所思所想所做有关.我给你写的第一封信,我就说我大学四年来最有成就的一件事
就是找到了自己的真正想要的东西,也就是真正的目标,也就是自己的理想,梦想.
当时我的理想就是做个程序员.因为我发现,我适合干这个,我干这个开心,
干这个有时能让我废寝忘食.干这个虽然很累,但是我能苦中作乐.
大学报专业之前,我还想过做医生,我还想过做老师,我还想过学数学,
后来我发现,这些理想都不太适合我,医生越老越吃香,不干.
老师的工作重复性强,不干.学数学我真不是那块料,不干.
做程序,放在我的三观里面,不管放在哪,它都讲得通.
你可能觉得好神奇哟,唉,真正的梦想,它就是这么神奇,
所以当我刚找到的时候,就像发现了巨大的宝藏一样,激动,兴奋.
我希望,你呢,能回顾一下过往的经历,把关键点给连接起来,
确定一个大致的方向先,然后努力的去做你想到的事情,你想要做的事情,
之后,相信你也能把自己的梦想找到.不要用世俗的眼光来检阅自己的梦想,
要把自己的眼光放的很远才行,
我想起了一部电影,里面的女主角说,我上了哈佛,但是我对做这种小甜品感兴趣,
大家也都喜欢吃我做的小甜品,然后我就退学了,开了这个甜品店,因为我的甜品能给人们带来快乐,我也喜欢这么做.
带着世俗的眼光去审视自己的梦想,是对梦想的一种亵渎.
加油呦,我相信你的梦想一定很美丽,而且你一定能找到它.

再谈谈这次的日本之旅吧,从小到大没怎么出去玩过,大学时候就一次跟着2个朋友
去家乡附近的坐禅谷玩了玩.个人对旅游也没啥感觉.毕业后,来到北京,由于这里名胜很多,
所以呢,就近水楼台先得月啦,玩了不少京城的景点.故宫,长城,颐和园,圆明园,也都玩过啦.
这次得以能去日本,得益于公司的福利.公司让大家分成各个团,去往不同的地方玩,
不同的地方,给不同的补助.比方说去日本的,给2400,去东南亚的,给3000,欧美的,4800,
南极北极的10w,火星的100w,还给假期,调休两天,周六周日双休两天,每人有年假两天,
这样你就可以不请假玩六天了.我呢,刚收到这个消息,也没啥感觉.但是第一感觉,就是想去
日本.我最想去的国家呢,当然是美国.但是美国远,去的门槛也高点,因此首先想到的就是日本.
也没想着去哪玩,主要想去体验一下当地的风土人情而已.很快的,我加入了公司的一个日本团.
同事们有些是旅游达人.很快哒,我也了解到了不少出国知识.出国首先要有护照,这个很好办,
本人拿着身份证户口本在加上200块到当地(户口所在地)的公安局出入境办事处办理即可.
跟身份证一样好办.办护照的时候还会问你要不要把港澳台通行证也办了.这个看需求啦.
办完了护照,就要办签证了.去不同的国家,要到不同国家的大使馆申请签证.有了别国的签证,
你才能合法入境.不同国家有不同的签证政策,比方说泰国是落地签.你可以先坐飞机过去,
然后在当地机场办签证.比方说新加坡,韩国,签证应该也挺好办的.最方便的就是去淘宝.
看看要准备的资料,然后邮寄过去就行啦.日本的门槛也算一般吧,主要是要证明年薪超过10万.
欧美的门槛就相对高点,听说美国的还要去大使馆面试.ok,签证搞定了.接下来就是酒店机票了.
酒店机票当然是越早定越好啦,也不定非要等签证下来后再办.可以办签证的时候去找机票酒店.
一般要在出行前2-3个月的时候就开始预定啦,不然到时候价钱就上天了.
机酒也是从网上找,预定的时候需要信用卡,护照号码.机票可以去携程,穷游,阿里旅行上搜.
当然是找价低的啦.境外的酒店一般是在Booking和hotels上找.酒店可以先预定好,
然后到付.一般到了国外之后,你的电话卡估计是用不了的,就算可以用,那也是天价的漫游费用.
一般也要提前买个随身wifi,一天20-30块的样子.微信,GoogleMap,翻译软件,这些应用都是离不开的.
这次在日本,我们大多的出行方式就是坐地铁,这时候才发现GoogleMap在手,真是什么都不怕啦.
同事间联络也都是用微信,而且微信那个共享地理位置,做的真是赞.不用担心找不到同伴啦.
发现赶上一个好时代,移动互联网时代,出行就是这么便捷,方便了像我这样的路痴.
出行前呢,还要记得换点当地的货币,平时吃饭啦,交通啦离不开哒.一般大的城市或者商场呢,
可以用银联卡,visa卡支付(卡上有 银联unipay,visa的).有时候,可能会遇到钱不小心花完的情况.
比方说这次,我跟腾兄(我俩五天都是住一起的),差了200日元,坐地铁.怎么办呢,找7-Eleven(也叫7幺幺吧),是一种便利店.
里面有ATM,我同事把卡插里面,居然换出了日元,只不过多了点手续费而已.我俩瞬间感觉得救了.
同事告诉我,他同学对他说过,有事就找7幺幺.基本上,学到的知识就这么多了.最后再补充一点,
如果决定出国来买买买的话,还是多带箱子的好,像液体啦,什么其他可能被税的东西啦,还是放在行李箱里好点.
行李箱属于私人物品,海关是不能查的.液体什么的(比方说,香水,化妆品,酒水什么的),不能带在身上,只能托运.
完啦,最后再感谢公司安排的这次出行,真是让我涨了不少知识.

日本之行一共5天,14号飞过去,15号开始玩,15号在大阪环球影城(类似迪斯尼乐园),
16号前往京都,16-18上午,都在京都,京都主要去了清水寺,伏见稻荷大社,
18回大阪,19从大阪回程.后面两天主要是逛街买东西.玩的东西嘛,也没啥好说的.
我的主要目的就是感受一下这里的风土人情.这里的风土人情就很值得谈啦.
先说说吃,虽然我跟腾兄这五天只吃过一次寿司,而且是很普通的旋转寿司,
我就要说,寿司真是太好吃啦.旋转寿司店里的寿司不贵,一个盘子里面有两个,
只要146日元,品种有很多,上面是海鲜,下面是米.有虾,不知名的小鱼,鱿鱼,
应该章鱼什么的也有吧,也吃不出来.至于是生的熟的我也分不太清.
但是味道鲜美,口感极佳,配上那一层海苔和一点芥末,真是的让我赞不绝口啊.
现在想起来,还有点流口水呢.这一餐算是最好的啦,另外还有一餐,是我跟腾兄临走时的最后一餐,
这家餐馆挺有味道的.里面的环境就像是日本茶道的环境一样.
门也是木质滑拉式的,脚下是榻榻米,食物是摆在一个矮桌子上,我一看,这岂不是要跪着吃饭啦,等我到桌旁一看,
才发现,桌子下面是没有木板的,你可以把脚伸下去.唉,我说怎么这屋里的木板要比外边高呢.
坐下之后,服务员上了一杯清茶.这应该是日本餐厅的惯例啦.
端起来呷一口,入口清甜,嗯,好茶.不这样做,岂不是浪费了小木屋烘托起来的气氛.
过了一会,服务员终于把套餐端上来啦.一个大虾,两块鸡排,很多生肉,一小碗汤,一壶米饭,一小碟咸菜,一晚酱
,一晚沙拉,一双放在筷子架(chopsticks rest)上的筷子.
日本人的饮食挺注重营养搭配的.这一餐吃的也是挺爽的.这次我肯定肉都是生肉啦,不过肯定都经过厨师处理过啦,
生肉真的是鲜美啊.配点芥末,酱什么哒.口味真的很赞.
当然,除了优点,日本的饮食也有缺点,有几顿都是看起来很不错,吃起来却不怎么的.

除了吃,现在我最先想到的就是日本的环境啦.这里的路很干净,天空也很干净.
日本化学工厂里面排出的烟居然都是白色的,化工区上的天空依然很干净.
日本的垃圾分类做的很到位,一般扔垃圾的地方都是并排好几个垃圾桶.
街上如果有建筑在施工的话,都是先封闭起来,在里面进行的.外面的噪音很小,
不会影响到外面.腾兄回来后,一下飞机就跟我说,唉,我怎么好像闻到一股雾霾味儿啊.
事实摆在这了,我国环境的确差日本很远.

最后,讲讲日本人吧.日本人穿的都挺整齐的,女性很会化妆.
男性有的也化妆的样子.我承认,我站在他们中间,的确显得很土.
我感觉日本的女孩子们好像都比较独立吧.街上的女孩子显得比男生多点.(我指的是年轻人)
去环球影城那天,很多女孩子们都是自己买票,自己玩的.
日本人都很有礼貌,比方说,我们刚到大阪的时候,是雇司机载我们去酒店的,
在过收费站的时候,里面的工作人员老远就出来挥手,等司机开到闸口的时候,
面带笑容,鞠躬,说 晚上好(kon ban wa).在上电梯的时候,
如果电梯门是开着的,你还没有赶过去的话,下来的人,会用手帮你把电梯门挡住,
不让它合上,等你过去之后,他才走.在地铁上下电梯的时候,
人们都很自觉的靠左(日本走路要靠左)站成一排,把路留出来给赶时间的人.
你在景区拍照的时候,路过的人会自觉的站在后面,等你拍完之后再走.
参观景区的时候,比方说这个地方很适合拍照留念,那么人们就自觉的排队,
等前面的人拍照结束后,后面的人再拍.日本人也都挺热心,
比方说你找她帮你拍个合影,她拍完之后一定会让你看一下,拍的满不满意.
再比方说你问她洗手间怎么去,她居然把你带了过去.
有一次,我们向一位餐馆老板问路,他看我们有点听不懂他讲的话,
对我们说 稍等(jo do),竟然拿了个笔,把示意图给画了出来.
日本人好像挺喜欢讲话的,反正我经常听到日本人在聊天.

基本上聊的差不多啦,再补充几个小点.日本的井盖的图案很文雅.
日本的马桶很先进.日本人的英语真的很差.去日本的华人很多(台湾的挺多的).

总而言之,我的感觉就是,日本真是个美丽的国家,有很多地方值得我们去学习.

好啦,就这么多啦,祝你天天好运啦.

Jan 15, 2016
</code></pre>

</div>
</div>

